obj/
bin/
*.vis
.vs/DMAW-DND/FileContentIndex/0d4d56d4-eb70-463e-9e2b-0cf7c76d38c6.vsidx
.vs/DMAW-DND/FileContentIndex/383b9bc5-d113-4613-b7e4-0d1a725a11d5.vsidx
.vs/DMAW-DND/FileContentIndex/8c59d2f3-41b3-4d8f-9acc-8233bdcacd54.vsidx
.vs/DMAW-DND/FileContentIndex/ad9c9d08-843e-402a-9cde-0708285cc800.vsidx
.vs/ProjectEvaluation/dmaw-dnd.metadata.v9.bin
.vs/ProjectEvaluation/dmaw-dnd.projects.v9.bin
.vs/ProjectEvaluation/dmaw-dnd.strings.v9.bin
obj/Debug/net8.0-windows10.0.18362.0/DMAW-DND.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.18362.0/DMAW-DND.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.18362.0/DMAW-DND.assets.cache
obj/Debug/net8.0-windows10.0.18362.0/DMAW-DND.csproj.AssemblyReference.cache
obj/Debug/net8.0-windows10.0.18362.0/DMAW-DND.GeneratedMSBuildEditorConfig.editorconfig
obj/DMAW-DND.csproj.nuget.dgspec.json
obj/DMAW-DND.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
